@use "foundation" as *;

.company {

}

.company__inner.inner {
  @include mq('md') {
  padding: 0;
  }
}

.company__wrap {
  display: flex;
  gap: prem(50);
  @include mq('md') {
  display: block;
  }
}

.company__img {
  margin-left: calc((50vw - 50%) * -1);
  width: 25%;
  height: 100%;
  @include mq('md') {
  display: none;
  }
}

.company__img img {
  width: 100%;
  height: 100%;
  aspect-ratio: 300/776;
  object-fit: cover;
  object-position: bottom 50% left 26%;
}

.company__list {
  width: calc(75% - prem(50) + $padding-pc);
  display: flex;
  flex-wrap: wrap;
  @include mq('md') {
  width: 100%;
  }
}

.company__list dt,
.company__list dd {
  font-size: prem(18);
  line-height: calc(24 / 18);
  @include mq('md') {
    font-size: prem(28);
    line-height: calc(52 / 28);
    }
}

.company__list dt:nth-of-type(2n-1),
.company__list dd:nth-of-type(2n-1) {
  padding: prem(28) prem(30);
  padding-right: 0;
  background-color: $grey2;
  @include mq('md') {
    padding: prem(36) prem(30);
    padding-right: 0;
    }
}

.company__list dt:nth-of-type(2n),
.company__list dd:nth-of-type(2n) {
  padding: prem(38) prem(30);
  padding-right: 0;
  @include mq('md') {
    padding: prem(36) prem(30);
    padding-right: 0;
    }
}


.company__list dt {
  width: prem(190);
  @include mq('md') {
  width: 33%;
  }
}

.company__list dd {
  width: calc(100% - prem(190));
  @include mq('md') {
    width: 67%;
    }
}