@use "foundation" as *;

.ImageText-item {
}

.ImageText-item__wrap,
.ImageText-item__wrap--reverse {
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: space-between;
  @include mq("md") {
    display: block;
  }
}

.ImageText-item__wrap--reverse {
  flex-direction: row-reverse;
  @include mq("md") {
    flex-direction: initial;
  }
}

.ImageText-item__img,
.ImageText-item__img--top,
.ImageText-item__img--right {
  margin-bottom: prem(70);
}

.ImageText-item__img--top {
  margin-left: calc((50vw - 50%) * -1);
  @include mq(md) {
    margin: 0 calc((50vw - 50%) * -1);
  }
}

.ImageText-item__img--top img {
  width: 100%;
  aspect-ratio: 1000/600;
  object-fit: cover;
}

.ImageText-item__img {
  margin-left: calc((50vw - 50%) * -1);
  @include mq(md) {
    margin: 0 calc((50vw - 50%) * -1);
  }
}
.ImageText-item__img--right {
  margin-right: calc((50vw - 50%) * -1);
  width: 100%;
  @include mq(md) {
    margin-bottom: 0;
  }
}

.ImageText-item__img img,
.ImageText-item__img--right img {
  width: 100%;
  max-height: prem(500);
  aspect-ratio: 1000/500;
  object-fit: cover;
  @include mq(md) {
    aspect-ratio: 750/450;
  }
}

.ImageText-item__content-bg,
.ImageText-item__content-bg--left {
  padding: prem(70) 0;
  background-color: $white;
  position: relative;
  z-index: 5;
  @include mq("md") {
    margin-top: prem(-50);
  }
}

.ImageText-item__content-bg {
  margin-left: prem(-416);
  padding-left: prem(70);
  @include mq("md") {
    margin-right: calc((50vw - 50%) * -1);
    margin-left: initial;
    padding: 3.75rem 8% 30px 10%;
  }
}

.ImageText-item__content-bg--left {
  margin-right: prem(-416);
  padding-right: prem(70);
  @include mq("md") {
    margin-right: initial;
    margin-left: calc((50vw - 50%) * -1);
    padding: 3.75rem 10% 30px 8%;
  }
}

.ImageText-item__content {
  width: prem(647);
  @include mq(md) {
    width: initial;
  }
}

.ImageText-item__title {
  font-size: prem(24);
  line-height: calc(34 / 24);
  font-weight: $bold;
  @include mq(md) {
    font-size: prem(36);
    line-height: calc(52 / 36);
  }
}

.ImageText-item__text {
  margin-top: prem(27);
  font-size: prem(16);
  line-height: calc(31 / 16);
  font-weight: $regular;
  text-align: justify;
  @include mq(md) {
    margin-top: prem(34);
    font-size: prem(28);
    line-height: calc(53.6 / 28);
  }
}
