@use "foundation" as *;

.reservation {

}

.reservation__inner {

}

.reservation__wrap {
  margin-top: prem(-100);
  background-color: $white;
  position: relative;
  z-index: 1;
}

.reservation__form {

}